@import "./master";

.container {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    @media screen and (max-width: $medium) {
      font-size: 12px;
      justify-content: center;
    }
    .logo {
      @media screen and (max-width: $medium) {
        display: none;
      }
    }

    .navLinks {
      .navLink {
        padding: 0;
        margin: 0 20px;
        font-weight: 500;
        font-size: larger;
        &:hover {
          border-bottom: 2px solid #000;
        }
      }
    }
  }
  .loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
      text-transform: uppercase;
      margin-bottom: 10px;
      text-align: center;
      @media screen and (max-width: $medium) {
        font-size: 22px;
      }
    }

    .loginForm {
      background: #fff;
      width: 90%;
      max-width: 400px;
      display: flex;
      flex-direction: column;
      padding: 20px;
      border-radius: 5px;
      div {
        display: flex;
        flex-direction: column;
        margin: 5px 0px;
        color: #000;
        label {
          font-weight: 500;
          margin-bottom: 2px;
        }
        input {
          background-color: #fff;
          color: #000;
          border: none;
          padding: 10px 10px;
          border-radius: 5px;
          outline: none;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
            rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        }
      }
      input[type="submit"] {
        background: #000;
        color: #fff;
        border: none;
        padding: 10px 10px;
        border-radius: 5px;
        outline: none;
        margin: 5px 0px;
        cursor: pointer;
      }
    }
  }
}
